# Backend
backend/node_modules/
backend/.env
backend/uploads/videos/*
backend/uploads/audio/*
backend/uploads/tmp/*
!backend/uploads/videos/.gitkeep
!backend/uploads/audio/.gitkeep
!backend/uploads/tmp/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Général
.DS_Store
*.log